*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /*  Nav bar */
button,
input,
ul,
a {
    text-decoration: none;
    outline: none;
    list-style-type: none;
    border: none;
}

.container{
    max-width: 1216px;
    margin: auto;
}


.nav_wraper {
  padding: 32px  0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  display: flex;
  gap: 40px;
}

a{
    font-size: 20px;
    color: #3B3C4A;
}

a:hover{
    opacity: 0.8;
}

.search{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
  color:#F4F4F5;
  background-color: #d8d8dd;
  border: none;
}

.search input{
    padding: 10px 0;
    background: transparent;
    color:black;
}

 /*   Hero pos */

 .hero {
  height: 600px;
}

.hero_img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero_pos {
  top: -190px;
  left: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: 598px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color:white;
}

.hero_btn {
  padding: 4px 10px;
  width: 97px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  background-color: #4B6BFB;
  border-radius: 5px;
}

.hero_btn:active{
  transform: translateY(40px);
  transition: all 1s;
}

.hero_title {
  color:black;
}

.hero_bottom {
  display: flex;
  gap: 20px;
  align-items: center;
}

.ads-space {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 100px;
  background-color: #E8E8EA;
  margin-top: 150px;
  border-radius: 12px;
  padding: 1rem 0 1rem 0;
  color: #696A75;
}

  /*  Cards */

  .cards_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cardss{
    margin-top: 68px;
  }

  .cards_card{
    border: 1px solid grey;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .card_img{
    object-fit: cover;
  }

  .cards_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #181A2A;
    padding: 20px;
  }

  button{
    width: 97px;
    height: 28px;
    border-radius: 6px;
    color: #4B6BFB;
  }

  .cards_bottom{
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .box1{
    display: flex;
    gap: 20px;
  }


  .view{
    display: block;
    width: 148px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid  #696A75;
    color: #696A75;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin: 80px auto;
  }

  .ads-space1 {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 100px;
    background-color: #E8E8EA;
    margin-top: 50px;
    border-radius: 12px;
    padding: 1rem 0 1rem 0;
    color:  #696A75;
  }

    /*  Footer */

    footer{
      background-color: #E8E8EA;
    }

    .footer__wraper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;
      margin-top: 60px;
    }
 
    .ft_title {
       margin-top: 80px;
    }
  
    .ft_2 {
      display: flex;
      gap: 80px;
    }
  
    .ft_3 {
      background-color: #d8d8dd;
      width: 292px;
      height: 192px;
      border-radius: 12px;
      padding: 32px;
      gap: 20px;
      text-align: center;
      margin-top: 80px;
    }

  
    .Subscribe{
      background-color:#4B6BFB;
      color: #FFFFFF;
      width: 180px;
      gap: 12px;
    }

     .ft_form {
      padding: 0 10px;
    }
     .ft_form input {
      padding: 10px 0;
    }
   
   
    .ft_botom {
      padding-top: 20px;
      border-top: 1px solid white;
      display: flex;
      justify-content: space-between;
    }
    .ft_items_bottom {
      display: flex;
      gap: 30px;
    }